html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}
#shadow{
  position: relative;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
    background: white;
}
#body{
    margin-top: 80px;
}
.full-height {
    height: 100vh;
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}
.top-left {
    position: absolute;
    left: 10px;
    top: 18px;
}
a.focus:active{
  font-style: bold;
}
.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.links > a:active {
    background-color: yellow;
}
.links > a:hover{
    background-color: gray;
}
.links > a:visited{
    background-color: solid gray;
}
.links > a:link{
    /*color:yellow;*/
}
.current-link {
   /*color: #640200;*/
   background-color: #000000;
}
.m-b-md {
    margin-bottom: 30px;
}
